* {
  border: dotted;
}
header {

}
main {
  margin: 0 auto;
}
footer {

}
img {

}
ul {

}
ol {

}
.column1 {
  float: left;
  padding: 50px;
}
.column2 {
  float: left;
  padding: 50px;
}
.column3 {
  float: left;
  padding: 50px;
}